@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.answer-selector-3,
.answer-selector-2 {
  margin: 0 auto;
  border: 1px solid rgba(255, 253, 253, 0.5);
  border-radius: 24px;
  padding: 0;
  width: 80%;
}

.answer-selector-2 {
  height: 96px;
}

.answer-selector-3 {
  height: 144px;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.input {
  margin: 0;
  padding: 0;
}

input[type="radio"] + label span {
  height: 48px;
  left: 0px;
  text-align: center;
  line-height: auto;
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100px;
  color: white;
  cursor: pointer;

  font-size: 18px;
}
input[type="radio"]:checked + label span {
  margin: 0;
  padding: 0;

  background: rgba(255, 253, 253, 0.5);
  border-radius: 100px;
  color: #4e4743;
}

input {
  display: none;
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
  padding: 0;
}

/* If width is larger than 500, the layout of answers is horizontal */
@media only screen and (min-width: 500) {
  .answer-selector-2,
  .answer-selector-3 {
    border-radius: 100px;
    height: 678px;
    border: 1px solid rgba(165, 11, 11, 1);
  }
  .answer-selector-2 {
    width: 60vw;
  }
  .answer-selector-3 {
    width: 90vw;
  }
  input[type="radio"] + label span {
    width: 30vw;
    height: 80px;
    font-size: 10px;
  }
  .input {
    display: inline-block;
  }
  input[type="radio"]:checked + label span {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;

    background: rgba(255, 253, 253, 0.5);
    border-radius: 100px;
    color: #4e4743;
  }
  fieldset {
    display: flex;
  }
}

@media only screen and (min-width: 1350px) {
  .answer-selector-2,
  .answer-selector-3 {
    border-radius: 100px;
    height: 80px;
    border: 1px solid rgba(255, 253, 253, 0.5);
  }
  .answer-selector-2 {
    width: 900px;
  }
  .answer-selector-3 {
    width: 1350px;
  }
  input[type="radio"] + label span {
    width: 450px;
    height: 80px;
    font-size: 24px;
  }
  input[type="radio"]:checked + label span {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;

    background: rgba(255, 253, 253, 0.5);
    border-radius: 100px;
    color: #4e4743;
  }
  fieldset {
    display: flex;
  }
}
